{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-4" style="font-style: normal; padding-top: 50px; margin-right: 50px;">
            <h5 style="color: crimson; font-style: initial ">نام کتاب </h5> <h6
                style="color: black">{{ book.name }}</h6>
            <br>
            <h5 style="color: crimson; font-style: initial ">نویسنده </h5> <h6
                style="color: black">{{ book.author }}</h6>
            <br>
            {% if book.discount %}
                <h5 style="color: crimson; font-style: initial">قیمت</h5>
                <h6 style="text-decoration: line-through;">{{ book.price }}</h6>
                <h5 style=" color: crimson; font-style: initial">قیمت با تخفیف</h5>
                <h6>{{ book.total_price }}</h6>
            {% else %}
                <h5 style="color: crimson; font-style: initial">قیمت</h5>
                <h6>{{ book.total_price }}</h6>
            {% endif %}
        </div>
        <div class="col-4">
            <img class="card-img-bottom "
                 src="{{ book.image.url }}"
                 alt="Card image" style="max-width: 400px; height: 400px"/>
            {% if book.is_favorite %}
                <a href="{% url 'book:favorite' book.id %}"><i class="fa fa-heart" style="color: red; font-size: 24px;"></i></a>
            {% else %}
                <a href="{% url 'book:favorite' book.id %}"><i class="fa fa-heart" style="color:blue; font-size: 24px;"></i></a>
            {% endif %}
        </div>
        <div class="card">
            <form method="post" action="{% url 'cart:cart_add' book.id %}">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" max="{{ book.Inventory }}" required
                       oninvalid="setCustomValidity('باید حداکثر تعداد {{ book.Inventory}}باشد')">
                <button class="btn btn-primary" type="submit"> اضافه کردن</button>
            </form>
        </div>

    </div>
{% endblock %}