{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block main %}
    <div class="container">
        <div class="card mt-3 p-5">
            {% for i in data %}
                <h6><a href="{% url 'book:list' %}">نام:{{ i.book.name }} &nbsp قیمت:{{ i.order.get_price }}</a></h6>
                <img src="{{ i.book.image.url }}"style="height: 200px; width: 300px;">
                <h5>آدرس:{{ i.order.address }}</h5>
                {% if i.order.paid == True %}
                    <p>پرداخت شد</p>

                {% else %}
                    <p>پرداخت نشد</p>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}