{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block main %}
    <table>
        <tr>
            <th>user:{{ profile.user.username }}</th>
        </tr>
        <tr>
            <th>name:{{ profile.user.first_name }}</th>
        </tr>
        <tr>
            <th>name:{{ profile.user.last_name }}</th>
        </tr>
        <tr>
            <th>name:{{ profile.user.email }}</th>
        </tr>
         <tr>
            <th> phone:{{ profile.phone }}</th>
        </tr>
         <tr>
            <th>{{ profile.address }}</th>
        </tr>
    </table>
    <a href="{% url 'account:update' %}">بروزرسانی</a>
{% endblock %}