{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block main %}
     <div class="section mt-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-8">
                    <div id="main" class="card">
                        <div class="form-group">
                            <form id="task-form">
                                <div class="form-group">
                                    <label for="task">اضافه کردن به سبد خرید </label>
                                    <a href="" id="task" class="tasks task2"></a>
                                    <input type="text" class="input form-control"  placeholder="محصول را وارد کنید د">

                                </div>
                                <br>
                                <button type="submit" class="add btn btn-primary">اضافه کردن</button>
                            </form>
                            <hr>
                            <h5 id="task-title" class="test">سفارشات</h5>
                            <br>
                            <div>
                                <ul class="list-group pr-0">

                                </ul>
                            </div>
                            <button type="submit" class="clear-tasks btn btn-danger mt-3"> پاک کردن </button>
                            <button type="submit" class="show btn btn-primary  mt-3"> نمایش دادن </button>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    {% block scripts %}
    <script src="{% static 'js.js'  %}"></script>
    {% endblock %}
{% endblock %}